.inline-toolbar {
  left: 50%;
  transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #252525;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  z-index: 2;
  box-sizing: border-box;
  line-height: 1 !important;
}

.inline-toolbar:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #252525;
  border-width: 4px;
  margin-left: -4px;
}

.inline-toolbar:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}

.inline-toolbar-button-wrapper {
  display: inline-block;
}

.inline-toolbar-button {
  background: #252525;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.inline-toolbar-button svg {
  fill: #ffffff;
}

.inline-toolbar-button:hover,
.inline-toolbar-button:focus {
  background: #464241;
  outline: 0; /* reset for :focus */
}

.inline-toolbar-button-active {
  background: #252525;
  color: #ffffff;
}

.inline-toolbar-button-active svg {
  fill: #47d5ad;
}

/* emoji plugin */

.emojiSelectPopover {
  margin-top: 10px;
  padding: 0 0.3em;
  position: absolute;
  z-index: 1000;
  box-sizing: content-box;
  background: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 30px 0 gainsboro;
}
